
module.exports = {
  redis: {
    host: process.env.REDIS_HOST || '127.0.0.1',
    port: process.env.REDIS_PORT || 6379,
    password: process.env.REDIS_PASSWORD || undefined
  },
  session:{
    secret: "c003404d-9c37-47ca-941f-61763fe6c4d3",
    resave: false,
    saveUninitialized: false
  },
  mysql: {
    connectionLimit : 10,
    host            : process.env.MYSQL_HOST || 'localhost',
    port            : parseInt(process.env.MYSQL_PORT) || 3306,
    user            : process.env.MYSQL_USER || 'root',
    password        : process.env.MYSQL_PASSWORD || '',
    database        : process.env.MYSQL_DATABASE || 'question',
    charset         : 'utf8_general_ci',
    debug           : false
  },
  captcha: {
    width: 256,
    height: 60,
    offset: 40
  },
  origin: {
    "*":true
  }
};
