<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2" id="text">

                    </th>
                </tr>
            </thead>
            <tbody id="table">

            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-danger btn-lg btn-block" href="/end">结束答题</a>
    </div>
</div>


<script>
    $(document).ready(function(){
        var text = $("#text");
        var table = $("#table");
        function queryStatus() {
            $.ajax({
                url: "/api/question",
                success: function(data){
                    if(typeof data.user == "string"){
                        var show = "剩余时间：" + data.ttl + "s\t抢答者：" + data.user
                        text.text(show);
                    } else if(typeof data.count == "object"){
                        var count = 0;
                        var html = "<tr>"
                        for (var i in data.count){
                            count += data.count[i].count;
                            html += "<td>"+ data.count[i].answer +"</td><td> "+ data.count[i].count+"</td>"
                        }
                        html += "</tr>"
                        var show = "剩余时间：" + data.ttl + "s\t已答题人数：" + count;
                        table.html(html);
                        text.text(show);
                    } else{
                        text.text(text.text() + "已结束");
                        clearInterval(interval);
                    }
                }
            })
        }

        var interval = setInterval(queryStatus, 1000);
    });
</script>
