<div class="row">
    <div class="col-lg-12">
    <span class="lead">日期： <%= date %> 已发题数：<%= count %></span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-default btn-lg btn-block" href="/new?type=question">新抢答题</a>
        <a class="btn btn-default btn-lg btn-block" href="/new?type=choice">新选择题</a>
    </div>
</div>